.main-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 4px red solid;
    margin: auto;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex: 1;
    border: solid lightgray .1px;
}

.column-hover {
    display: flex;
    flex:1;
    border: solid blue 4px;
    background-color: pink;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    column-gap: 16px;
    align-items: center;
}

h1 {
    text-align: center;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 4px green solid;
    margin: auto;
  }
  
  .grid-item {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid black;
    box-sizing: border-box;
  }